<div class="pbg_cust">
	<div style="width: 120px; display:inline-block; vertical-align: top">
		<div class="prize_row">
			<div class="prize" location="prize0">0</div>
			<div class="prize" location="prize1">1</div>
		</div>
		<div class="prize_row">
			<div class="prize" location="prize2">2</div>
			<div class="prize" location="prize3">3</div>
		</div>
		<div class="prize_row">
			<div class="prize" location="prize4">4</div>
			<div class="prize" location="prize5">5</div>
		</div>
		<div class="prize_row" location="player_s"></div>
	</div>
	<div class="pcs">
		<div location="active_c">a_c</div>
		<div location="active_s">a_s</div>
	</div>
	<div class="pcs">
		<div location="bench0_c">b0_c</div>
		<div location="bench0_s">b0_s</div>
	</div>
	<div class="pcs">
		<div location="bench1_c">b1_c</div>
		<div location="bench1_s">b1_s</div>
	</div>
	<div class="pcs">
		<div location="bench2_c">b2_c</div>
		<div location="bench2_s">b2_s</div>
	</div>
	<div class="pcs">
		<div location="bench3_c">b3_c</div>
		<div location="bench3_s">b3_s</div>
	</div>
	<div class="pcs">
		<div location="bench4_c">b4_c</div>
		<div location="bench4_s">b4_c</div>
	</div>
	<div class="pcs">
		<div location="bench5_c">b5_c</div>
		<div location="bench5_s">b5_c</div>
	</div>
	<div class="pcs">
		<div location="bench6_c">b6_c</div>
		<div location="bench6_s">b6_c</div>
	</div>
	<div class="pcs">
		<div location="bench7_c">b7_c</div>
		<div location="bench7_s">b7_c</div>
	</div>
	<div style="width: 64px; display:inline-block; vertical-align: top">
		<div location="hand_l">hl</div>
		<div location="discard_l">dil</div>
		<div location="discard_c">dic</div>
		<div location="deck_l">dl</div>
		<div location="deck_c">dc</div>
	</div>
</div>