$v-background-color: #191919;
$v-focus-color: #ffa500;
$v-font-size: 14px;
$v-font-weight: 600;
$v-unit-size: 32px;
$v-bevel: false;
$v-shadow: false;
$v-gradient: false;
$v-textfield-bevel: false;
$v-textfield-shadow: false;
$v-border-radius: 0;
$v-border: 2px solid v-tone;
$v-overlay-shadow: 0 0 0 2px (v-tint 10);
$v-focus-style: $v-focus-color;
$v-font-family: "Lato", sans-serif;
$v-font-weight--header: 600;

$v-app-loading-text: "Loading...";
$v-animations-enabled: false;

@import "addons.scss";
@import "../valo/valo.scss";

@include addons;

.tcgwars {

    @include valo;

    .v-table{
        /*background-color: rgb(110,110,110);*/
        background-color: inherit;
    }
    .v-table-row{
/*        background-color: lighten($v-app-background-color, 10%);*/
        background-color: $v-panel-background-color;
/*        rgb(58,58,58);*/
    }
    .v-table-row-odd{
        /*background-color: inherit;*/
        background-color: darken($v-background-color, 10%);
    }
    .v-textfield,.v-textarea{
        /*background-color: inherit;*/
        background-color: $v-background-color;
    }

    .filters-panel {
        background-color: rgb(110,110,110);
        height: $v-unit-size;
    }
    .filters-panel .v-textfield {
         height: $v-unit-size !important;
    }

/*      $v-scaling-factor--tiny: 0.55;
        $v-scaling-factor--small: 0.65;
        $v-scaling-factor--large: 0.85;
        $v-scaling-factor--huge: 1.00;
*/
    /*.v-button{
        border-radius: 5px;
    }*/

    .v-image-cvselected {
        filter: contrast(1.5);
        -webkit-filter: contrast(1.5);
        border-radius: 0px;
        border-style: dashed;
        border-color: white;
        border-width: 1px;
        cursor: pointer;
    }
    .v-image-cv {
        border-radius: 5px;
        border-style: solid;
        border-color: transparent;
        box-sizing: border-box;
        border-width: 1px;
        cursor: pointer;
    }
    /*.v-image-cvblank {
    	border-radius: 5px;
    	border-style: dashed;
    	border-color: yellow;
    	border-width: 1px;
    	cursor: not-allowed;
    }*/
    .v-image-cvhidden {
        border-radius: 5px;
        border-style: solid;
        border-color: transparent;
        border-width: 1px;
        cursor: help;
    }

    .v-image-cv img,
    .v-image-cvhidden img,
    .v-image-cvselected img {
        width: 100% !important;
        height: 100% !important;
        vertical-align: top;
    }

    div.v-image-cv,
    div.v-image-cvhidden,
    div.v-image-cvselected {
        vertical-align: baseline;
        text-align: start;
        display: block;
    /* 	border-style: solid; */
    /* 	border-color: transparent; */
    /* 	border-width: 1px; */
    }

    .v-button-link2{
        font-weight: 800;
    /* 	font-size: 12px; */
    /* 	color: #1b699f; */
    /* 	text-decoration: underline; */
    /* 	vertical-align: middle; */

    }

    /*input.v-textfield[type="text"]{
        padding-top: 0px;
        color: rgb(224,224,224);
    }*/

    .announcementbar{
        /* 	width: 100% !important; */
        /* 	margin-left:auto; */
        /* 	margin-right:auto; */
        /* 	line-height: 150%; */
        border: 1px solid #cccccc;
        padding: 3px 25px;
        border-width: 1px;
        background: white;
        border-radius: 15px;
    }

    /*.toolbar-flex{
        display: flex;
    }
    .toolbar-item{
        display: inline;
        float: left;
    }
    .v-table-row, .v-table-row-odd {
        height: 24px;
    }*/
    a{
        color: $link-color;
    }

    .pbg_cust {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    .pbg_cust .pcs {
        /*float: left;*/
        display: inline-block;
        margin: 0 3px 0 0;
        overflow: hidden;
    }
    .pbg_cust .prize {
        /*float: left;*/
        display: inline-block;
        margin-bottom: 5px;
        margin-right: 5px;
    }
    .pbg_cust .prize_row {
        display: block;
    }
    .ou-button{
        position: relative;
        vertical-align: middle;
        float: right;
        right: 25px;
        /*margin-right: 25px !important;*/
        line-height: normal;
        /*font-size: 13px;*/
    }
    .ou-button .v-button-wrap{
        vertical-align: super;
    }
    .chatlog{
        padding:10px;
    }

    .pcssi{/*pcs status item*/
        display: inline;
        margin-right: 3px;
    }
    .v-caption-pcssi{
        display: inline;
    }
    .pcssi img{
        vertical-align: middle;
    }
    .tyi{/* type icon */
        display: inline;
        vertical-align: middle;
    }
    .dmgLbl{
        display: inline;
        border: white 1px solid;
        border-radius: 10px;
        padding: 0px 7px 0px 7px;
        margin-right: 3px;
        font-weight: bold;
    }

    /*.filters-panel{
        background-color: rgb(100,100,100) !important;
    }*/

    .popupwindow .v-window-maximizebox{
        display: none;
    }
    .nooverflow{
        overflow: hidden;
    }
    .display_inline{
        display: inline;
    }

    .store-items-layout{
    }
    .store-item-layout{
        border: 1px solid white;
        border-radius: 3px;
        margin: 3px 3px 3px 3px;
    }
    .progress-layout{
        padding: 5px 5px 5px 5px;
    }
    .v-countdownclock{
        display: block;
    }
    .v-label-quest-info{
        text-align: center;
    }
    .v-panel-quest-panel{
        margin: 5px 0px 0px 5px;
    }
    .hidden {
        display: none;
    }
    .monospaced {
       	font-family: "Courier New", Courier, monospace;
    }
    #loginForm{
        width: 100%;
    }

    .v-button-multiline{
        white-space: normal;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .centered-layout {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}
